.App {
  text-align: center;
}

..App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cardRow{
    padding: 5px;
}

.btnRow{
    padding: 5px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-6{
	width:50%;
	position:relative;
	min-height: 1px;
   display:inline-block;
}
.left{
	float:left;
}
.right{
	float:right;
}
.content-row{
	padding:3%;
	
}
